.border-custom{
    border:none !important;
}
.text-custom{
    color:red;
}

.size-custom{
    width: 50px;
    height: 50px;

    border-radius: 50rem;
    margin-left:64px
  }
  .size-custom-2{
    width: 50px;
    height: 50px;

    border-radius: 50rem;
    border: none;
  }
  .center{
    margin-left: 69px;
  }
  .shadow{
    box-shadow: 0px 40px 0 0 yellow;
  }
  .margin{
    margin-top: 200px;
  }
  .wh{
    width: 50px;
    height: 50px;
  }